<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.james.shortcuts-web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>SHORTCUTS_PASSWORD=$(cat $HOME/shortcuts-web/.password) exec /usr/bin/python3 $HOME/shortcuts-web/server.py</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>15</integer>
  <key>StandardOutPath</key><string>/tmp/shortcuts-web.log</string>
  <key>StandardErrorPath</key><string>/tmp/shortcuts-web.log</string>
</dict>
</plist>
